* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    background-color: white
}

img {
    border-color: blue;
    border-style: solid;
    border-width: 3px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    flex-wrap: wrap;
    margin: auto;
}

.flex-item {
    display: flex;
    height: 100px;
    width: 100px;
    text-align: center;
}